// homepage shell
.home
    background: _c_surface

    // full-viewport cinematic hero field
    .canvas
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        min-height: 100vh

    // partials
    @require '_front'