extends ../_/body

//- variables
block context
    - bodyId = 'home';
    - bodyClass = 'home';
    - pageTitle = 'Interactive Solutions';

//- body
block main

    main(role="main")

        include _/front
