footer(
    class="footer-3"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        .center

            ul
                li; INTERACTIVE SOLUTIONS, obrt za programiranje, vl. Marko Alerić, Runović, Runović 755 
                li; OIB: 96902630801
