section(class="canvas front" id="front")

    div(class="content" background="images/global/pexels-designdrunkard-4158594.jpg")
		      
        img(src="images/global/logo2.png" inline width="100%" height="auto")

        div

            //p Good spot for a tagline.

            div

                a(href="mailto:markoall1@gmail.com" background) Let's get in touch
