section(class="canvas front" id="front")

    img(src="images/global/3D Sphere Render.jpeg" inline)

    div(class="content")
		      
        img(src="images/global/logo2.png" inline width="100%" height="auto")

        div

            //p Good spot for a tagline.

            div

                a(href="mailto:markoall1@gmail.com" background) Let's get in touch
