section(class="canvas front" id="front")

    div(class="content")
		      
        img(src="images/global/logo_white.svg" inline width="100%" height="auto")

        div(class="contactButton")

            //p Good spot for a tagline.

            div

                a(href="mailto:markoall1@gmail.com" background) Let's get in touch
